{% load static %}   
<link rel="stylesheet" href="{% static 'css/merch.css' %}">
{% comment %}
  <script src="{% static 'js/dot.js' %}"></script>
  
{% endcomment %}<div class="con-last">
    <main>
        <section id="snapping" class="section">
          <div class="content">
            <div class="text-am">
              <h2><strong>First</strong>, we set up the <em>snapping</em> points</h2>
            </div>
            <div class="text">
              <img src="{% static 'img/tsh/tsh.jpg' %}" class="image-class">
              <p>We set the scrolling element, in this case our <code class="selector">HTML</code> element, to forcibly snap to the Y axis by using <code class="property">scroll-snap-type: y mandatory</code>.</p>
              <p>And then we set <code class="selector">section</code> as the snapping elements by using <code class="property">scroll-snap-align: start</code>.</p>
            </div>
          </div>
        </section>
        <section id="scrolling" class="section">
          <div class="content">
            <div class="text-am">
              <h2><strong>First</strong>, we set up the <em>snapping</em> points</h2>
            </div>
            <div class="text">
              <img src="{% static 'img/tsh/tsh2.jpg' %}" class="image-class">
              <p>We track the <code class="property">view()</code> position of the <code class="selector">section</code> elements using the named timeline <code class="property">view-timeline: --section;</code>. We had previously set the <code class="property">timeline-scope: --section</code> up in our <code class="selector">HTML</code> element, so we can access it from anywhere in the document.</p>
              <p>We animate the <code class="selector">.content</code> children using <code class="property">animation-timeline: --section;</code>. The <code class="selector">.content</code> element will now animate based on its parent <code class="selector">section</code>'s position. This is important due to how we're handling the layout in the next section.</p>
            </div>
          </div>
        </section>
        <section id="transition" class="section">
          <div class="content">
            <div class="text-am">
              <h2><strong>First</strong>, we set up the <em>snapping</em> points</h2>
            </div>    
            <div class="text">
              <img src="{% static 'img/tsh/tsh3.jpg' %}" class="image-class">
            </div>
          </div>
        </section>    
      </main>
      <div class="dot">
        <svg width="54px" height="54px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 9.5C13.3807 9.5 14.5 10.6193 14.5 12C14.5 13.3807 13.3807 14.5 12 14.5C10.6193 14.5 9.5 13.3807 9.5 12C9.5 10.6193 10.6193 9.5 12 9.5Z" fill="#000000"/>
        </svg>
      </div>
      <ul>
        <p class="a">
          <svg fill="#000000" height="15px" width="15px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	            viewBox="0 0 300 300" xml:space="preserve">
            <path d="M150,0C67.29,0,0,67.29,0,150s67.29,150,150,150s150-67.29,150-150S232.71,0,150,0z M150,270c-66.169,0-120-53.832-120-120
            	S83.831,30,150,30s120,53.832,120,120S216.168,270,150,270z"/>
          </svg>
        <p>
        <p class="b">
          <svg fill="#000000" height="15px" width="15px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	            viewBox="0 0 300 300" xml:space="preserve">
            <path d="M150,0C67.29,0,0,67.29,0,150s67.29,150,150,150s150-67.29,150-150S232.71,0,150,0z M150,270c-66.169,0-120-53.832-120-120
            	S83.831,30,150,30s120,53.832,120,120S216.168,270,150,270z"/>
          </svg>
        </p>
        <p class="c">
          <svg fill="#000000" height="15px" width="15px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	            viewBox="0 0 300 300" xml:space="preserve">
            <path d="M150,0C67.29,0,0,67.29,0,150s67.29,150,150,150s150-67.29,150-150S232.71,0,150,0z M150,270c-66.169,0-120-53.832-120-120
            	S83.831,30,150,30s120,53.832,120,120S216.168,270,150,270z"/>
          </svg>
        </p>
</div>
