{% load static %}
<!-- chat.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Chat Support</title>
</head>
<body>
    <input type="text" id="message-input" placeholder="Введите сообщение...">
    <button onclick="send()">Отправить</button>
    <div id="messages"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        const socket = io.connect('http://localhost:8000');
        const messagesDiv = document.getElementById('messages');

        function send() {
            const messageInput = document.getElementById('message-input');
            const message = messageInput.value.trim();

            if (message !== '') {
                socket.emit('chat_message', { message });
                messageInput.value = '';
            }
        }

        socket.on('chat_message', function(data) {
            const messageElement = document.createElement('div');
            messageElement.textContent = data.message;
            messageElement.dateTime = data.timestamp;
            messagesDiv.appendChild(messageElement);
        });
    </script>
</body>
</html>
