@font-face {
    font-family: 'SFPRO_history-text';
    src: url('font/sf-pro-display_semibold.woff2') format('woff2');
}

.dogovor_oferty_heading {
    font-family: 'SFPRO_history-text', sans-serif;
    position: relative;
    text-align: center;
    padding-top: 50px;
}

.dogovor_oferty_text {
    position: relative;
    font-family: 'SFPRO_history-text', sans-serif;
    height: auto;
    width: 1000px;
    text-align:left;
    left: 500px;
}

