@font-face {
    font-family: 'SFPRO_4';
    src: url('font/sf-pro-display_semibold.woff2') format('woff2');
}

.header {
    font-family: 'SFPRO_4', sans-serif;
}

.raise {
    transition-delay: 0.05s;
    transition: all 0.1s ease-out;
}
  
.raise:hover,
.raise:focus {
    transform: translateY(-0.2em);
}
