.con-last-history{
    position: relative;
    width: auto;
    height: 800px;
    background-color: #ffffff;
    z-index: 0;
}

/*закругление фото и размер */
.con-photo {
    position: absolute;
    bottom: 0px;
    width: 1000px;
    height: 800px;
    border-radius: 100px;
    left: 60px;
}

/*хуй знает как это обьяснить, но фото круглое ))) */
.con-photo .image-class {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* or 'contain' depending on your needs */
    border-radius: inherit; /* To maintain the rounded corners */
}   
/*позиция заголовка */
.history-heading {
    position: absolute;
    left: 1110px;
    top: 180px;;
}

/*позиция текста под заголовком */
.history-text {
    position: absolute;
    left: 1110px;
    top: 280px;
    font-size: 150%;
    font-family: 'SFPRO_history-text', sans-serif;
} 
