@font-face {
    font-family: 'SFPRO_3';
    src: url('font/sf-pro-display-bold.woff2') format('woff2');
}

.custom-text-low {
    font-size: 400% !important;
    font-family: 'SFPRO_3',Arial;
}

.con-asd-bsd {
    position: relative;
    top: 40px;
    width: auto;
    height: 800px;
    background-color: #ffffff;
}

/* последние новости */
.last-text-con{
    position: absolute;
    /*высота */
    top: 140px;
    /*где находится текст */
    text-align: left;
    /*отступ с правой стороны */
    padding-left: 205px;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2;
}

.pos-text-left {
    position: absolute;
    top: 300px;
    text-align: left;
    padding-left: 400px;
}

.pos-text-right {
    position:absolute;
    top: 305px;
    padding-left: 1250px;
}

.pos-merch-con {
    position: absolute;
    top: 80px;
    left: 150px;
}