{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/main_font.css' %}">

<head>
  <title>Footer Design</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
	<body>
	<footer class="footer">
		<div class="container">
			<div class="card-site">
				<h3>Карта сайта:</h3>
			</div>
			<div class="custom-text-footer">
				<div class="row">
					<div class="footer-col">
						<ul>
							<li><a href="#">История</a></li>
							<li><a href="#">Проекты</a></li>
							<li><a href="#">Партнеры</a></li>
							<li><a href="#">Команда</a></li>
						</ul>
					</div>
					<div class="footer-col">
						<ul>
							<li><a href="#">Мерч</a></li>
							<li><a href="#">Карьера</a></li>
							<li><a href="#">Новости</a></li>
							<li><a href="#">Поддержка</a></li>
						</ul>
					</div>
					<div class="footer-col">
						<ul>
							<li><a href="#">Система лояльности</a></li>
							<li><a href="{% url 'pages:politika_konfidentsialnosti' %}">Политика компании</a></li>
							<li><a href="{% url 'pages:dogovor_oferty' %}">Договор оферты</a></li>
							<li><a href="#">О нас</a></li>
						</ul>
					</div>
					<div class="footer-col">
						<div class="social-links">
							<a href="https://instagram.com/jmih.norilsk" class="social-link instagram"><i class="fab fa-instagram"></i></a>
							<a href="https://t.me/jmih_norilsk" class="social-link telegram"><i class="fab fa-telegram"></i></a>
							<a href="https://vk.com/jmih_norilsk" class="social-link vk"><i class="fab fa-vk"></i></a>
							<a href="https://2gis.ru/norilsk" class="social-link 2gis">
								<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M40.5 5.5h-33a2 2 0 0 0-2 2v33a2 2 0 0 0 2 2h33a2 2 0 0 0 2-2v-33a2 2 0 0 0-2-2"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M25.579 36.142c-.042-4.789 1.062-8.746 7.08-8.497c8.587-21.882-26.423-21.048-17.09-.131c2.83-.176 7.52 1.509 6.72 9.146M42.5 33.479l-37 5.824m0-28.263l12.345 2.29m14.51 2.2L42.5 17.011"/></svg>
							</a>
							<a href="https://yandex.ru" class="social-link yandex"><i class="fab fa-yandex"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="position_logo_footer">
			<img src="{% static 'img/home_page/large_black_new.png' %}">
		</div>
	</footer>
	</body>