{% extends "base.html" %}
{% load static%}
{% block title %}
  Нам 3 года!
{% endblock %}
{% block content %}
      <div class="rounded-text">
        <link rel='stylesheet' href='css/about.html'>
        <h4>26 января 2020 года, открылся самый первый ЖМЫХ!</h4>
        <p>Сегодня ЖМЫХ это…</p>
          <ul>
            <li>Десятки тысяч довольных клиентов!</li>
            <li>Самая быстрорастущая сеть НПР</li>
            <li>13 филиалов в Красноярском крае, а еще 3 на стадии открытия!</li>
            <li>Открыли наше первое заведение и службу доставки!</li>
            <li>Выходим за рамки вейпшопа и развиваем разные направления!</li>
          </ul>
        </p>
      </div>
{% endblock %}