{% load static %}
<link rel="stylesheet" href="{% static 'css/main_font.css' %}">
<link rel="stylesheet" href="{% static 'css/history.css' %}">
<div class="con-last-history">
    <div class="custom-text-medium">
        <div class="history-heading">
            Нам 3 года!
        </div>
    </div>
    <div class="history-text">
            Сегодня ЖМЫХ это…<br>
            Десятки тысяч довольных клиентов!<br>
            Самая быстрорастущая сеть НПР<br>
            13 филиалов в Красноярском крае, а еще 3 на стадии открытия!<br>
            Открыли наше первое заведение и службу доставки!<br>
            Выходим за рамки вейпшопа и развиваем разные направления!
    </div>
    <div class="con-photo">
        <img src="{% static 'img/komanda/2.jpg' %}" class="image-class">
    </div>
</div>
  