{% load static %}
<link rel="stylesheet" href="{% static 'css/merch_con.css' %}">
<div data-aos="fade-up">
    <div class="con-asd-bsd">
        <div class="pos-text-left">
            <div class="custom-text-medium">
                Мы<br>
                создаем
            </div>
        </div>
        <div class="pos-text-right">
            <div class="custom-text-medium">
                Тренды<br>
                в индустрии
            </div>
        </div>
        <div class="pos-merch-con">
            {% include 'main_page/merch.html' %}
        </div>
        </div>
    </div>
</div>
