{% load static %}   
<link rel="stylesheet" href="{% static 'css/merch.css' %}">
{% comment %}
  <script src="{% static 'js/dot.js' %}"></script>
{% endcomment %}
<div class="con-last">
    <main>
        <section id="snapping" class="section">
          <div class="content">
            <div class="text">
              <img src="{% static 'img/tsh/tsh.jpg' %}" class="image-class">
            </div>
          </div>
        </section>
        <section id="scrolling" class="section">
          <div class="content">
            <div class="text">
              <img src="{% static 'img/tsh/tsh2.jpg' %}" class="image-class">
            </div>
          </div>
        </section>
        <section id="transition" class="section">
          <div class="content">
            <div class="text">
              <img src="{% static 'img/tsh/tsh3.jpg' %}" class="image-class">
            </div>
          </div>
        </section>    
      </main>
</div>
