
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main_font.css' %}">
<link rel="stylesheet" href="{% static 'css/projects.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">


<div data-aos="fade-up">
  <div class="con-asd">
      <div class="last-text">
          <div class="custom-text-medium">
              Мы больше чем ты думаешь
          </div>
      </div>
      <div>
          <ul class="cards">
              <li>
                <div class="card">
                  <img src="{% static 'img/komanda/fbj.jpg' %}" class="card__image">
                  <div class="card__overlay">
                    <div class="card__header">
                      <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                      <img src="{% static 'img/projects/fbj.png' %}" class="card__thumb">
                      <div class="card__header-text">
                        <h3 class="card__title">FBJ</h3>            
                      </div>
                    </div>
                    <p class="card__description">🍕FBJ — это сочетание изысканного вкуса, эстетики и скорости 🍔
                      
                      🧡Наслаждайтесь нашей вкусной едой, которая не только порадует ваши вкусовые рецепторы, но и станет украшением вашего стола. Быстрая доставка сделает ваш вечер особенным🧡<br>

                      <div class="wrapper">
                        <div class="button">
                          <div class="icon">
                            <i class="fab fa-telegram"></i>
                          </div>
                          <a href="https://t.me/fbj_food">Telegram</a>
                        </div>
                        <div class="button">
                          <div class="icon">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                          </div>
                          <a href="https://2gis.ru/norilsk/geo/70000001065956512">2gis</a>
                        </div>
                        <div class="button">
                          <div class="icon">
                            <i class="fab fa-instagram"></i>
                          </div>
                          <a href="https://www.instagram.com/fbj.norilsk?igsh=MWZtdm05dTQxbWtqYQ%3D%3D&utm_source=qr">Instagram</a>
                        </div>
                        <div class="button">
                          <div class="icon">
                            <i class="fab fa-yandex"></i>
                          </div>
                          <a href="https://yandex.ru/maps/org/food_by_jmih/124182450186?si=jdjbxhu98ftxfwjj42wkzmuwa0">Яндекс</a>
                        </div>
                        <div class="button">
                          <div class="icon">
                            <i class="fa fa-coffee" aria-hidden="true"></i>
                          </div>
                          <a href="https://apps.apple.com/ru/app/fbj-food-by-jmih-%D0%BD%D0%BE%D1%80%D0%B8%D0%BB%D1%8C%D1%81%D0%BA/id6479267835">FBJ FOOD</a>
                        </div>
                      </div>

                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="card">
                  <img src="{% static 'img/komanda/hub.jpg' %}" class="card__image">
                  <div class="card__overlay">        
                    <div class="card__header">
                      <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                      <img src="{% static 'img/projects/hub.png' %}" class="card__thumb">
                      <div class="card__header-text">
                        <h3 class="card__title">JMIH HUB</h3>
                      </div>
                    </div>
                    <p class="card__description">Задумайтесь, зачем тратить своё время на бесполезные вещи, если его можно потратить в JMIH HUB?👾

                      Пусть ничто не помешает вам насладиться своим свободным вечером в эпичной катке с друзьями, в компании наших охлаждающих напитков и самых различных вкусностей!💛

                      <div class="wrapper">
                        <div class="button">
                          <div class="icon">
                            <i class="fab fa-telegram"></i>
                          </div>
                          <a href="https://t.me/jmihhub">Telegram</a>
                        </div>
                        <div class="button">
                          <div class="icon">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                          </div>
                          <a href="https://2gis.ru/norilsk/geo/70000001079751617">2gis</a>
                        </div>
                        <div class="button">
                          <div class="icon">
                            <i class="fab fa-instagram"></i>
                          </div>
                          <a href="https://www.instagram.com/jmih.hub?igsh=OGRsaTVkZ2djNGd1&utm_source=qr">Instagram</a>
                        </div>
                        <div class="button">
                          <div class="icon">
                            <i class="fab fa-yandex"></i>
                          </div>
                          <a href="https://yandex.ru/maps/org/jmih_hub/181739419176?si=jdjbxhu98ftxfwjj42wkzmuwa0">Яндекс</a>
                        </div>
                      </div>

                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="card">
                  <img src="{% static 'img/komanda/lounge.jpg' %}" class="card__image">
                  <div class="card__overlay">
                    <div class="card__header">
                      <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                      <img src="{% static 'img/projects/lounge.png' %}" class="card__thumb">
                      <div class="card__header-text">
                        <h3 class="card__title">JMIH LOUNGE</h3>
                        <span class="card__tagline"></span>            
                      </div>
                    </div>
                    <p class="card__description">💚Добро пожаловать в Jmih&Lounge — ваше идеальное место для отдыха и веселья💚

                      Здесь каждый коктейль💘— это искусство, а атмосфера заставляет забыть о повседневных заботах. Присоединяйтесь к нам и откройте для себя мир уникальных вкусов!
                      
                      <div class="wrapper">
                        <div class="button">
                          <div class="icon">
                            <i class="fab fa-telegram"></i>
                          </div>
                          <a href="https://t.me/jmih_lounge">Telegram</a>
                        </div>
                        <div class="button">
                          <div class="icon">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                          </div>
                          <a href="https://2gis.ru/norilsk/geo/70000001064810621">2gis</a>
                        </div>
                        <div class="button">
                          <div class="icon">
                            <i class="fab fa-instagram"></i>
                          </div>
                          <a href="https://www.instagram.com/jmih_lounge?igsh=MjBxcmVxbmcycmJz&utm_source=qr">Instagram</a>
                        </div>
                        <div class="button">
                          <div class="icon">
                            <i class="fab fa-yandex"></i>
                          </div>
                          <a href="https://yandex.ru/maps/org/jmih_lounge/178846359737?si=jdjbxhu98ftxfwjj42wkzmuwa0">Яндекс</a>
                        </div>
                      </div>
                  
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="card">
                  <img src="{% static 'img/komanda/shop.jpg' %}" class="card__image">
                  <div class="card__overlay">
                    <div class="card__header">
                      <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                      <img src="{% static 'img/projects/shop.png' %}" class="card__thumb">
                      <div class="card__header-text">
                        <h3 class="card__title">JMIH VAPESHOP</h3>
                      </div>          
                    </div>
                    <p class="card__description">JMIH VAPESHOP - Мы предлагаем разнообразные вейп-устройства, жидкости, аксессуары и расходные материалы от проверенных производителей, обеспечивая качество и безопасность.

                      <div class="wrapper">
                        <div class="button">
                          <div class="icon">
                            <i class="fab fa-telegram"></i>
                          </div>
                          <a href="https://t.me/jmihnorilsk">Telegram</a>
                        </div>
                        <div class="button">
                          <div class="icon">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                          </div>
                          <a href="https://2gis.ru/norilsk/geo/70000001046293034">2gis</a>
                        </div>
                        <div class="button">
                          <div class="icon">
                            <i class="fab fa-instagram"></i>
                          </div>
                          <a href="https://www.instagram.com/jmih.norilsk?igsh=cXIzN3RmNjNsYXJo&utm_source=qr">Instagram</a>
                        </div>
                        <div class="button">
                          <div class="icon">
                            <i class="fab fa-yandex"></i>
                          </div>
                          <a href="https://yandex.ru/maps/org/zhmykh/40175227125?si=jdjbxhu98ftxfwjj42wkzmuwa0">Яндекс</a>
                        </div>
                      </div>

                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="card">
                  <img src="{% static 'img/komanda/new_project.jpg' %}" class="card__image">
                  <div class="card__overlay">
                    <div class="card__header">
                      <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                      <img src="{% static 'img/komanda/new_project.jpg' %}" class="card__thumb">
                      <div class="card__header-text">
                        <h3 class="card__title">?</h3>
                      </div>          
                    </div>
                    <p class="card__description">?</p>
                  </div>
                </div>
              </li> 
            </ul>
      </div>
  <div>
</div>
{% endblock  %}

