{% load static %}
<link rel="stylesheet" href="{% static 'css/main_font.css' %}">
<link rel="stylesheet" href="{% static 'css/canvas.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pure Scroll Animation</title>
    <link rel="stylesheet" href="{% static 'css/canvas.css' %}">
</head>
  <div class="rectangle">
      <div class="rectangle_logo">
        <img src="{% static 'img/home_page/logo.png' %}" width="200" height="200">
      </div>
    <div class="scrolling-text">
      <div class="text-layer">
          <div class="custom-text-medium">
              <p>Облако который знает каждый.</p>
          </div>
      </div>
    </div>
  </div>
{% comment %}
      <script src="{% static 'js/canvas.js' %}"></script>
{% endcomment %}