{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <link rel="stylesheet" href="{% static 'css/scroll.css' %}">
  <script src="{% static 'js/' %}"></script>
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/home_page/icon_black.png' %}" width="50" height="30">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/home_page/icon_black.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/home_page/icon_black.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/home_page/icon_black.png' %}">
    <title>
      {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
    {% include "includes/header.html" %}
    <main>
      {% block content %}{% endblock %}
    </main>
    {% include "includes/footer.html" %}

  </body>
</html>