{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <link rel="stylesheet" href="{% static 'css/scroll.css' %}">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/home_page/icon_black.png' %}" width="50" height="30">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/home_page/icon_black.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/home_page/icon_black.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/home_page/icon_black.png' %}">
    <title>
      {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- SweetAlert2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">

    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    {% include "includes/header.html" %}
    <main>
      {% block content %}{% endblock %}
    </main>
    {% include "includes/footer.html" %}
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            easing: 'ease-out-back',
            duration: 1000
        });
    </script>
  </body>
</html>